ODD/minutes.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<!-- Thanks to Dr. Elisa Beshero-Bondar for her consultation in creating this ODD file, especially those parts concerned with drafting Schematron rules. -->
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:rng="http://relaxng.org/ns/structure/1.0" version="2.9.1" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Lega Toscana di Protezione ODD File</title>
        <author>Zachary Enick</author>
      </titleStmt>
      <publicationStmt>
        <authority>Prepared in TEI 5 by Zachary Enick for the Italian research assistantship at the
          University of Pittsburgh. Github repository: <ref target="http://github.com/zme1/toscana"
          />. Date last worked on: <date when="2018-02-25"/></authority>
        <availability>
          <licence><!-- licence to go here --></licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Born digital.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="oddex1" source="tei:current" start="teiCorpus">
        <moduleRef key="header"/>
        <moduleRef key="core"
          include="add address addrLine author bibl date del item lb list note num p pb resp respStmt rs teiCorpus title unclear"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" include="TEI body closer signed text"/>
        <moduleRef key="corpus" except="activity locale"/>
        <moduleRef key="linking" include="ab seg"/>
        <moduleRef key="msdescription"
          include="accMat acquisition handDesc history institution msDesc msIdentifier msName origin physDesc repository"/>
        <moduleRef key="namesdates" include="listPerson orgName persName person roleName"/>
        <elementSpec ident="persName" mode="change" module="namesdates">

          <!-- Example of a Schematron rule obliging every persName element to have a surname descendant element in a format nested within the <elementSpec> element directly. -->

          <!-- <constraintSpec ident="persName_surname" scheme="isoschematron">
          <constraint>
            <sch:assert test="descendant::tei:surname">Every persName element must have a
              surname element on the child or descendant axis</sch:assert>
          </constraint>
        </constraintSpec> -->

          <attList>
            <attDef ident="ref" mode="replace" usage="req">
              <valList type="closed">
                <!-- Until a personography can be made, this is a running manifest of all members included in the minutes,
                added as they continually appear throughout the volume. After a first pass of the minutes is made, the 
                personography will likely use this list as a means to include each member as an item in the file. The
                list also includes contributors, collaborators, and other individuals affiliated with the project in any
                direct way. -->
                <!-- Last name A -->
                <valItem ident="#allegrinie"/>
                <valItem ident="#andreinia"/>
                <valItem ident="#andreiniv"/>
                <valItem ident="#anselmif"/>
                <!-- Last name B -->
                <valItem ident="#baccellim"/>
                <valItem ident="#baccelliu"/>
                <valItem ident="#baggianig"/>
                <valItem ident="#baldaccia"/>
                <valItem ident="#banchieris"/>
                <valItem ident="#barantip"/>
                <valItem ident="#barduccia"/>
                <valItem ident="#barellim"/>
                <valItem ident="#barontinid"/>
                <valItem ident="#barsantif"/>
                <valItem ident="#barsottif"/>
                <valItem ident="#barsottigio"/>
                <valItem ident="#barsottigiu"/>
                <valItem ident="#barsottiv"/>
                <valItem ident="#bartolettif"/>
                <valItem ident="#bartolis"/>
                <valItem ident="#battistiniv"/>
                <valItem ident="#belluominin"/>
                <valItem ident="#benedettia"/>
                <valItem ident="#benedettie"/>
                <valItem ident="#benedettig"/>
                <valItem ident="#bertonie"/>
                <valItem ident="#bevilacquas"/>
                <valItem ident="#biagir"/>
                <valItem ident="#biaginic"/>
                <valItem ident="#bianchinif"/>
                <valItem ident="#bianchinigio"/>
                <valItem ident="#bianchinigiu"/>
                <valItem ident="#boninif"/>
                <valItem ident="#bondare"/>
                <valItem ident="#borellie"/>
                <valItem ident="#borellim"/>
                <valItem ident="#bottarip"/>
                <valItem ident="#brigidinia"/>
                <valItem ident="#buchignianil"/>
                <valItem ident="#buchignianiv"/>
                <!-- Last name C -->
                <valItem ident="#cappellinic"/>
                <valItem ident="#cappellinim"/>
                <valItem ident="#carloe"/>
                <valItem ident="#carmassil"/>
                <valItem ident="#casalic"/>
                <valItem ident="#casalio"/>
                <valItem ident="#checcig"/>
                <valItem ident="#chioccac"/>
                <valItem ident="#chioccad"/>
                <valItem ident="#chiocchettii"/>
                <valItem ident="#cinellio"/>
                <valItem ident="#colombinin"/>
                <valItem ident="#coltellig"/>
                <valItem ident="#cortopassig"/>
                <valItem ident="#cortopassiv"/>
                <valItem ident="#cristofania"/>
                <!-- Last name D -->
                <valItem ident="#danesiv"/>
                <valItem ident="#darrigop"/>
                <valItem ident="#datia"/>
                <valItem ident="#davinie"/>
                <valItem ident="#deldebbioc"/>
                <valItem ident="#deldebbiog"/>
                <valItem ident="#delmagrol"/>
                <valItem ident="#delucae"/>
                <valItem ident="#denricoc"/>
                <valItem ident="#denricop"/>
                <valItem ident="#desantie"/>
                <valItem ident="#desimos"/>
                <valItem ident="#dinie"/>
                <valItem ident="#diodatia"/>
                <valItem ident="#diodatir"/>
                <valItem ident="#diodativ"/>
                <valItem ident="#diriccoe"/>
                <valItem ident="#donatol"/>
                <!-- Last name E -->
                <valItem ident="#enickz"/>
                <!-- Last name F -->
                <valItem ident="#fogliav"/>
                <valItem ident="#fontanaal"/>
                <valItem ident="#fontanaam"/>
                <valItem ident="#fontanaan"/>
                <valItem ident="#fontanae"/>
                <valItem ident="#fontanaf"/>
                <valItem ident="#francesconia"/>
                <valItem ident="#francesconig"/>
                <valItem ident="#francesconio"/>
                <valItem ident="#franchinir"/>
                <valItem ident="#francionig"/>
                <valItem ident="#fredianellig"/>
                <valItem ident="#frediania"/>
                <valItem ident="#fredianim"/>
                <valItem ident="#fugassij"/>
                <!-- Last name G -->
                <valItem ident="#gambogia"/>
                <valItem ident="#gambogis"/>
                <valItem ident="#ghinaccig"/>
                <valItem ident="#giampaolig"/>
                <valItem ident="#giangranedif"/>
                <valItem ident="#giannig"/>
                <valItem ident="#giomettic"/>
                <valItem ident="#giomettio"/>
                <valItem ident="#giorgettip"/>
                <valItem ident="#giuglianettir"/>
                <valItem ident="#giuntoligi"/>
                <valItem ident="#giuntoligu"/>
                <valItem ident="#guidia"/>
                <valItem ident="#guidottie"/>
                <valItem ident="#guidottif"/>
                <!-- Last name I -->
                <valItem ident="#incroccip"/>
                <valItem ident="#insanal"/>
                <!-- Last name J -->
                <valItem ident="#jermyne"/>
                <!-- Last name K -->
                <valItem ident="#keilr"/>
                <!-- Last name L -->
                <valItem ident="#lombardia"/>
                <valItem ident="#lucchesial"/>
                <valItem ident="#lucchesiam"/>
                <valItem ident="#lucchesin"/>
                <valItem ident="#luccic"/>
                <valItem ident="#lunardiac"/>
                <valItem ident="#lunardial"/>
                <valItem ident="#lunardinia"/>
                <valItem ident="#lunardinifa"/>
                <valItem ident="#lunardinifr"/>
                <valItem ident="#lunardinil"/>
                <valItem ident="#lunardinim"/>
                <valItem ident="#lunardinip"/>
                <!-- Last name M -->
                <valItem ident="#maffeib"/>
                <valItem ident="#maffeid"/>
                <valItem ident="#maffeigia"/>
                <valItem ident="#maffeigio"/>
                <valItem ident="#maffeip"/>
                <valItem ident="#maffeir"/>
                <valItem ident="#maffeis"/>
                <valItem ident="#maffeiv"/>
                <valItem ident="#malfattip"/>
                <valItem ident="#mancinia"/>
                <valItem ident="#marchettie"/>
                <valItem ident="#marchettil"/>
                <valItem ident="#marchettim"/>
                <valItem ident="#marchettiq"/>
                <valItem ident="#marconic"/>
                <valItem ident="#marconif"/>
                <valItem ident="#marianir"/>
                <valItem ident="#marracciniv"/>
                <valItem ident="#marsilia"/>
                <valItem ident="#marsilie"/>
                <valItem ident="#marsilig"/>
                <valItem ident="#marsilis"/>
                <valItem ident="#martinellia"/>
                <valItem ident="#martinellig"/>
                <valItem ident="#martinellir"/>
                <valItem ident="#matteucciv"/>
                <valItem ident="#meconin"/>
                <valItem ident="#menchettir"/>
                <valItem ident="#merciadrie"/>
                <valItem ident="#michelie"/>
                <valItem ident="#micheluccis"/>
                <valItem ident="#miconin"/>
                <valItem ident="#milanig"/>
                <valItem ident="#millarj"/>
                <valItem ident="#mungaia"/>
                <!-- Last name N -->
                <valItem ident="#nicolais"/>
                <!-- Last name O -->
                <valItem ident="#olivieriam"/>
                <valItem ident="#olivieriat"/>
                <!-- Last name P -->
                <valItem ident="#pacinic"/>
                <valItem ident="#pacinig"/>
                <valItem ident="#pacinio"/>
                <valItem ident="#padre"/>
                <valItem ident="#paganellig"/>
                <valItem ident="#paganuccis"/>
                <valItem ident="#palig"/>
                <valItem ident="#papid"/>
                <valItem ident="#pardinia"/>
                <valItem ident="#pardinib"/>
                <valItem ident="#pardinie"/>
                <valItem ident="#pascuzzia"/>
                <valItem ident="#pasqualig"/>
                <valItem ident="#pasquinellial"/>
                <valItem ident="#pasquinelliam"/>
                <valItem ident="#pasquinellian"/>
                <valItem ident="#pasquinellie"/>
                <valItem ident="#pasquinellig"/>
                <valItem ident="#pasquinellijoh"/>
                <valItem ident="#pasquinellijos"/>
                <valItem ident="#pasquinellim"/>
                <valItem ident="#pasquinelliq"/>
                <valItem ident="#pasquinellis"/>
                <valItem ident="#paternic"/>
                <valItem ident="#paternim"/>
                <valItem ident="#pellegrinic"/>
                <valItem ident="#pellegrinie"/>
                <valItem ident="#piaggesia"/>
                <valItem ident="#piccininig"/>
                <valItem ident="#pistelliu"/>
                <valItem ident="#polia"/>
                <valItem ident="#polif"/>
                <valItem ident="#pollastrinia"/>
                <valItem ident="#ponzionip"/>
                <valItem ident="#puccettia"/>
                <valItem ident="#puccettil"/>
                <valItem ident="#puccinellia"/>
                <valItem ident="#puccinellig"/>
                <!-- Last name Q -->
                <valItem ident="#quintigliog"/>
                <!-- Last name R -->
                <valItem ident="#ragghiantia"/>
                <valItem ident="#ragghiantie"/>
                <valItem ident="#ragghiantir"/>
                <valItem ident="#ribettig"/>
                <valItem ident="#robertice"/>
                <valItem ident="#robertico"/>
                <valItem ident="#robertig"/>
                <valItem ident="#robertog"/>
                <valItem ident="#rossie"/>
                <valItem ident="#rossir"/>
                <!-- Last name S -->
                <valItem ident="#sandronee"/>
                <valItem ident="#santarlascia"/>
                <valItem ident="#santonif"/>
                <valItem ident="#santorinif"/>
                <valItem ident="#scarpellinis"/>
                <valItem ident="#serafinia"/>
                <valItem ident="#serafinie"/>
                <valItem ident="#serafinig"/>
                <valItem ident="#serafinina"/>
                <valItem ident="#serafinini"/>
                <valItem ident="#serafinio"/> 
                <valItem ident="#silvionic"/>   
                <valItem ident="#simie"/>
                <valItem ident="#simonettim"/>
                <valItem ident="#sodinig"/>
                <valItem ident="#sodinij"/>
                <valItem ident="#sunseric"/>
                <!-- Last name T -->
                <valItem ident="#tambellinia"/>
                <valItem ident="#tambellinig"/>
                <valItem ident="#tambellinile"/>
                <valItem ident="#tambellinilo"/>
                <valItem ident="#tamburia"/>
                <valItem ident="#tamburig"/>
                <valItem ident="#tamburit"/>
                <valItem ident="#temfarlaseia"/>
                <!-- Last name V -->
                <valItem ident="#valdisserau"/>
                <valItem ident="#vannuccia"/>
                <valItem ident="#vannuccie"/>
                <valItem ident="#viganoe"/>
                <valItem ident="#viganol"/>
                <valItem ident="#viganor"/>
                <valItem ident="#vondasl"/>
                <!-- Last name Z -->
                <valItem ident="#zambellinic"/>
                <valItem ident="#zambellinig"/>
                <valItem ident="#zinib"/>
                <valItem ident="#zinif"/>
                <valItem ident="#zinim"/>
                <!-- Unknown valItem -->
                <valItem ident="unknown"/>
              </valList> 
            </attDef>
            <!-- The mandatory attribute @role is attached to participants in an interaction, nested in the seg element.
            Depending on their specific role in the specific interaction, the value for the attribute will label them
            accordingly. Source and target are two values used in strictly directional inteactions, like monetary compensations,
            delegations, or invitations. The values proposer and supporter are used strictly with proposal seg elements, for, while
            the two participants have fundamentally different and complementary roles, there is no distinct "source" and "target." -->
            <attDef ident="role" mode="replace" usage="rec">
              <valList type="closed">
                <valItem ident="source"/>
                <valItem ident="target"/>
                <valItem ident="proposer"/>
                <valItem ident="supporter"/>
                <valItem ident="rejected"/>
                <valItem ident="scaduto"/>
                <valItem ident="replacement"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!-- This is the central element in respect to the document analysis being performed on the Lega Toscana corpus. Each seg element
        indicates a moment in the text in which individuals or groups interact in some way. The different type of interactions being studied
        include member proposals, an interaction which involves both a proposer and a supporter (i.e. he who "seconds" the proposal); delegations
        among members of the Lega recorded in the minutes; nominations of members to positions or committees; monetary compensations to individuals
        or other groups or organizations.-->
        <elementSpec ident="seg" mode="change" module="linking">
          <attList>
            <attDef ident="type" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="proposal"/>
                <valItem ident="proposalReject"/>
                <valItem ident="proposalWritten"/>
                <valItem ident="invite"/>
                <valItem ident="delegation"/>
                <valItem ident="comp"/>
                <valItem ident="nomination"/>
              </valList>
            </attDef>
            <!-- The @subtype element is used with the seg of @type delegation and comp. The former uses the @subtype attribute to distinguish
            delegations or nominations to specific tasks from delegations or nominations of committee membership. The latter uses this attribute to
            distinguish between compensation for an ill member and charitable donations to groups or causes.-->
            <attDef ident="subtype" mode="replace" usage="opt">
              <valList type="closed">
                <valItem ident="task"/>
                <valItem ident="committee"/>
                <valItem ident="sick"/>
                <valItem ident="charity"/>
                <valItem ident="donation"/>
                <valItem ident="regale"/>
                <valItem ident="fondoM"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="num" mode="change" module="core">
          <!-- The only type of number of interest in direct regard to this research is that which denotes a sum of money. That
        being the case, the only accepted value for @type here is monetary.-->
          <attList>
            <attDef ident="type" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="monetary"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="rs" mode="change" module="core">
          <!-- Sometimes, a reference is made to a Lega member without explicitly listing his name.
          In cases like these, rs elements are used to point to the agent in question. The rs element
          is subject to the same rule system as the persName element.-->
          <attList>
            <attDef ident="role" mode="replace" usage="rec">
              <valList type="closed">
                <valItem ident="source"/>
                <valItem ident="target"/>
                <valItem ident="proposer"/>
                <valItem ident="supporter"/>
                <valItem ident="scaduto"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="ab" mode="change" module="linking">
          <!-- <ab> is the higher-level structural element that contains meeting minute logs in their entirety
          immediately within the <body> element. In my document analysis, I am isolating the closing portion of 
          the meeting minutes, and to do that I needed to customize the content model for the <ab> element to
          include the element <closer>. There were no other elements added to the seg content model that did not
          originally appear in it in the TEI All schema. -->
          <content>
            <alternate maxOccurs="unbounded" minOccurs="0">
              <textNode/>
              <elementRef key="closer"/>
              <elementRef key="persName"/>
              <elementRef key="lb"/>
              <elementRef key="pb"/>
              <elementRef key="seg"/>
              <elementRef key="del"/>
              <elementRef key="rs"/>
              <elementRef key="add"/>
              <elementRef key="orgName"/>
              <elementRef key="roleName"/>
              <elementRef key="unclear"/>
              <elementRef key="list"/>
              <elementRef key="note"/>
            </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="roleName" mode="change" module="namesdates">
          <attList>
            <attDef ident="type" mode="replace" usage="rec">
              <valList type="closed">
                <valItem ident="committee"/>
                <valItem ident="subcommittee"/>
                <valItem ident="officer"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="replace" usage="rec">
              <valList type="closed">
                <valItem ident="festaCampestre"/>
                <valItem ident="ballo"/>
                <valItem ident="fondoM"/>
                <valItem ident="picnic"/>
                <valItem ident="stendardo"/>
                <valItem ident="sussidio"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="person" mode="change"  module="namesdates">
          <content>
            <alternate maxOccurs="unbounded" minOccurs="2">
              <elementRef key="persName"/>
              <elementRef key="roleName"/>
            </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="list" mode="change" module="core">
          <!-- I decided to customize the <list> content model to include a <note> element that could
          be used to include a contextual phrase from the meeting minute logs to be contained within the
          <list> element itself. This way, any time a <list> element is selected, the purpose of the list
          of names will be made readily apparent upon reading the <note>. There were no other elements 
          added to the <list> content model that did not originally appear in it in the TEI All schema. -->
          <content>
            <alternate maxOccurs="unbounded" minOccurs="0">
              <elementRef key="item"/>
              <elementRef key="lb"/>
              <elementRef key="pb"/>
              <elementRef key="note"/>
              <elementRef key="del"/>
            </alternate>
          </content>
          <attList>
            <attDef ident="type" mode="replace" usage="rec">
              <valList type="closed">
                <valItem ident="committee"/>
                <valItem ident="officers"/>
                <valItem ident="absent"/>
                <valItem ident="applicants"/>
                <valItem ident="cancellati"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="replace" usage="rec">
              <valList type="closed">
                <valItem ident="festaCampestre"/>
                <valItem ident="ballo"/>
                <valItem ident="fondoM"/>
                <valItem ident="picnic"/>
                <valItem ident="stendardo"/>
                <valItem ident="intrattenimento"/>
                <valItem ident="regolamento"/>
                <valItem ident="banchetto"/>
                <valItem ident="club"/>
                <valItem ident="parata"/>
                <valItem ident="investigazione"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="orgName" mode="change" module="namesdates">
          <attList>
            <attDef ident="ref" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="#pittText"/>
                <valItem ident="#praxis"/>
                <valItem ident="#hhc"/>
                <valItem ident="#legaT"/>
                <valItem ident="#figli31"/>
                <valItem ident="#figli248"/>
                <valItem ident="#msgm"/>
                <valItem ident="#sodalizio"/>
                <valItem ident="#presito"/>
                <valItem ident="#clubM"/>
                <valItem ident="#terremoto"/>
                <valItem ident="#forest"/>
                <valItem ident="#fratSic"></valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="porticDesc" mode="change" module="corpus"></elementSpec>
        <constraintSpec ident="seg_proposal" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
              context="tei:seg[@type='proposal']">
              <sch:assert test="descendant::tei:persName[@role='proposer']">Every seg of @type
                "proposal" must have a persName with a @role value of "proposer."</sch:assert>
              <sch:assert test="descendant::tei:persName[@role='supporter'] or descendant::tei:rs[@role='supporter']">Every seg of @type
                "proposal" must have a persName or an rs with a @role value of "supporter."</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_proposal_rejected" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" context="tei:seg[@type='proposalReject']">
              <sch:assert test="descendant::tei:persName[@role='proposer']">Every seg of @type "proposalReject" must have a persName descendant with a @role value of "proposer."</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_proposal_written" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" context="tei:seg[@type='proposalWritten']">
              <sch:assert test="descendant::tei:persName[@role='proposer']">Every seg of @type "proposalWritten" must have at least one (probably more) persName descendant with a @role value of "proposer."</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_comp_subtype" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" context="tei:seg[@type='comp']">
              <sch:assert test="@subtype">Every seg element of @type "comp" must have a @subtype value of either "sick," "charity," "donation," or "fondoM."</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_comp_sick" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
              context="tei:seg[@subtype='sick']">
              <sch:assert test="descendant::tei:persName[@role='target']">Every seg element of @subtypetype "sick" must have persName element with @role value of "target.".</sch:assert>
              <sch:assert test="descendant::tei:num[@type='monetary']">Every seg of @type "comp"
                must have a num with a @type value of "monetary."</sch:assert>
              <sch:assert test="descendant::tei:num[@value]">Every seg of @type "comp" must have a
                num with a @value value equivalent to the amount of money being
                transferred.</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_comp_morte" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
              context="tei:seg[@subtype='fondoM']">
              <sch:assert test="descendant::tei:persName[@role='target']">Every seg element of @subtype "fondoM" must have persName element with @role value of "target.".</sch:assert>
              <sch:assert test="descendant::tei:num[@type='monetary']">Every seg of @type "comp"
                must have a num with a @type value of "monetary."</sch:assert>
              <sch:assert test="descendant::tei:num[@value]">Every seg of @type "comp" must have a
                num with a @value value equivalent to the amount of money being
                transferred.</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_comp_regale" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
              context="tei:seg[@subtype='regale']">
              <sch:assert test="descendant::tei:persName[@role='target']">Every seg element of @subtype "regale" must have persName element with @role value of "target.".</sch:assert>
              <sch:assert test="descendant::tei:num[@type='monetary']">Every seg of @type "comp"
                must have a num with a @type value of "monetary."</sch:assert>
              <sch:assert test="descendant::tei:num[@value]">Every seg of @type "comp" must have a
                num with a @value value equivalent to the amount of money being
                transferred.</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_comp_charity" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
              context="tei:seg[@subtype='charity']">
              <sch:assert test="descendant::tei:persName[@role='target'] or descendant::tei:orgName[@role='target'] or descendant::tei:rs[@role='target']">Every seg of @type "comp"
                must have a persName, an orgName, or an rs element with a @role value of "target." </sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_donation" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" context="tei:seg[@subtype='donation']">
              <sch:assert test="descendant::tei:persName[@role='source']">Every seg element of @subtype "donation" must have a descendant persName element with @role value of "source."</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="seg_delegation" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
              context="tei:seg[@type='delegation']">
              <sch:assert test="descendant::tei:persName[@role='source'] or descendant::tei:rs[@role='source']">Every seg of @type
                "delegation" must have a persName or rs with a @role value of "source."</sch:assert>
              <sch:assert test="descendant::tei:persName[@role='target']">Every seg of @type
                "delegation" must have a persName with a @role value of "target."</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="rs_ref" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" context="tei:rs">
              <sch:assert test="@ref">Every rs element must have a @ref attribute.</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="del_rend" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" context="tei:del">
              <sch:assert test="@rend">Every strike element must have a @rend attribute of value "strike."</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="item_persName" scheme="isoschematron">
          <constraint>
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" context="tei:item[not(tei:list)]">
              <sch:assert test="tei:persName or tei:rs">Every item element must have a child element of persName</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <!--2018-01-28 ebb: Here's an alternative way to define the SAME rule we wrote in the elementSpec 
       for persName above. If you write a constraintSpec as a sibling of the elementSpec elements you need to 
       define its context with sch:rule this time: See how this works? -->
      </schemaSpec>
    </body>
  </text>
</TEI>
